stages:
  - tests
  - publish

tests:
  image: 'python:3.11.13-bullseye'
  stage: tests

  variables:
    # DATA_BRANCH: main
    DATA_BRANCH: "feat/v1a_neutrino_rate"
  script:
    - apt-get update
    - apt-get -y install libgraphviz-dev graphviz git-lfs
    - python3 -m venv venv
    - source venv/bin/activate
    - git lfs install --skip-repo
    - pip install --no-cache-dir --upgrade wheel setuptools pip
    - pip install --no-cache-dir cython
    - pip install --no-cache-dir -e ".[test]"
    - ipython kernel install --name "python3" --user
    - git clone --branch $DATA_BRANCH --depth=1 https://gitlab-ci-token:${CI_JOB_TOKEN}@git.jinr.ru/dag-computing/dayabay-data-all.git data
    - coverage run --source=. -m pytest
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    paths:
      - output
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - master
    - main
    - merge_requests

pypi:
  image: 'python:3.11.13-slim'
  stage: publish
  script:
    - pip install twine build
    - python -m build
    - twine upload --non-interactive --repository pypi -u ${PYPI_TWINE_USERNAME} -p ${PYPI_TWINE_PASSWORD} dist/*
  rules:
    # Run task only if tag looks like semver
  - if: $CI_COMMIT_TAG =~ /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
