stages:
  - tests

tests:
  image: 'python:3.11.7-bullseye'
  stage: tests

  variables:
    DATA_BRANCH: main
  script:
    - apt-get update
    - apt-get -y install libgraphviz-dev graphviz git-lfs
    - python3 -m venv venv
    - source venv/bin/activate
    - git lfs install --skip-repo
    - git submodule sync
    - git submodule update --init --recursive --depth=1 -- submodules/dag-flow
    - git submodule update --init --depth=1 -- submodules/dagflow-reactornueosc submodules/dagflow-detector submodules/dagflow-statistics
    - git clone --branch $DATA_BRANCH --depth=1 https://dayabay-model=ci:"$DATA_TOKEN"@git.jinr.ru/dag-computing/dayabay-data-all.git data
    - python3 -m pip install $(find . -name requirements.txt -type f -printf "-r %p\n")
    - mkdir output
    - coverage run --source=. --omit=submodules/* -m pytest
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    paths:
      - test
      - output
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - master
    - main
    - merge_requests
