stages:
    - tests

tests:
    image: git.jinr.ru:5005/gna/gna-base-docker-image:latest
    stage: tests

    variables:
        GIT_DEPTH: 1
    script:
        - git lfs install --skip-repo
        - git submodule sync
        - git submodule update --init --recursive --depth=$GIT_DEPTH -- submodules/dag-flow
        - git submodule update --init --depth=$GIT_DEPTH -- submodules/dagflow-reactornueosc submodules/dagflow-detector
        - git clone --depth=$GIT_DEPTH https://dayabay-model=ci:"$DATA_TOKEN"@git.jinr.ru/dag-computing/dayabay-data-all.git data
        - python3 -m pip install -r requirements.txt
        - mkdir output
        - coverage run --source=. --omit=submodules/* -m pytest
        - coverage report
        - coverage xml
    coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
    artifacts:
        paths:
            - test
            - output
        reports:
            coverage_report:
                coverage_format: cobertura
                path: coverage.xml
    only:
        - master
        - main
        - merge_requests
