stages:
  - tests

tests:
  image: 'python:3.11.7-bullseye'
  stage: tests

  variables:
    # DATA_BRANCH: main
    DATA_BRANCH: "chore/update-names"
  script:
    - apt-get update
    - apt-get -y install libgraphviz-dev graphviz git-lfs
    - python3 -m venv venv
    - source venv/bin/activate
    - git lfs install --skip-repo
    - pip install --upgrade wheel setuptools pip
    - pip install cython
    - pip install -e ".[test]"
    - ipython kernel install --name "python3" --user
    - git clone --branch $DATA_BRANCH --depth=1 https://gitlab-ci-token:${CI_JOB_TOKEN}@git.jinr.ru/dag-computing/dayabay-data-all.git data
    - coverage run --source=. -m pytest
    - coverage report
    - coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    paths:
      - output
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  only:
    - master
    - main
    - merge_requests
